html{
    direction: rtl;
}
body{
    text-align: center;
    padding-top: 20px;
    background-color: #e3e0cf;
}

.text-align-center{
    text-align: center;
}

#add-bug-btn{

}
#endAddBug{
    margin-top: 10px;
}

